# Flask
FLASK_ENV=production
SECRET_KEY=your-secret-key

# SQL Server
MSSQL_USER=youruser
MSSQL_PASSWORD=yourpassword
MSSQL_DB=yourdb
MSSQL_HOST=your_sql_server_host
MSSQL_PORT=1433
SQLALCHEMY_DATABASE_URI=mssql+pyodbc://youruser:yourpassword@your_sql_server_host:1433/yourdb?driver=ODBC+Driver+17+for+SQL+Server

# App
APP_HOST=0.0.0.0
APP_PORT=8006
